@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/reset';
* {
	border: 1px solid red;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-base;
}

.login {
	width: 158px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login button {
	font-size: 13px;
	display: inline-block;
	height: 19px;
	font-family: $font-base;
}

.login button + button {
	border: 0.75px solid #fad648;
}
.menu {
	display: flex;
	align-items: flex-start;
}
.menu ul {
	height: 42px;
	max-width: 100%;
	display: flex;

	list-style: none;
}

.menu li {
	padding: 10px 10px;
	font-size: 16px;
}
.footer {
	text-align: center;
}

.home {
	width: 100%;
}

.home-header {
	margin-left: 0;
	width: 95vw;
	height: 100vh;
	display: flex;
}

.hero-image {
	height: 100%;
	width: 50%;
	background: url(../assets/Home-Hero-Image.jpg) no-repeat center/cover;
}
.right {
	height: 100%;
	width: 50%;
}

.top-menu {
	height: 15%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.intro {
	padding: 250px 30px 30px 30px;
	width: 100%;
	text-align: center;
	font-size: 34px;
	font-family: $font-base;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.decoration {
	height: 20px;
	width: 150px;
	background: url(../assets/Decoration.svg) no-repeat center/cover;
	margin: 20px 0;
}

.rectangle {
	border: 0.75px solid rgba(60, 60, 60, 1);
	width: 150px;
	height: 100px;
	font-size: 24px;
	display: inline-block;
}

.home-three-columns {
	width: 100vw;
	height: 30vh;
	background-color: $orange;
	display: flex;
}

.column {
	padding: 30px;
	width: 33.3%;
	height: 100%;
	text-align: center;
}
.column h4,
p {
	padding: 10px;
}

.display {
	font-size: 38px;
}
