@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/reset';

body {
	font-family: $font-base;
}

.login {
	float: right;
	width: 158px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login button {
	font-size: 13px;
	display: inline-block;
	height: 19px;
	font-family: $font-base;
}

.login button + button {
	border: 0.75px solid #fad648;
}
.menu ul {
	float: right;
	margin-top: 53px;
	height: 42px;
	width: 683px;
	//border: 1px solid red;
}
.menu li {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
}
.footer {
	text-align: center;
}

.home {
	width: 100%;
}

.home-header {
	margin-left: 0;
	/*background-color: cyan;*/
}

.hero-image {
	height: 100vh;
	width: 100%;
	background: url(../assets/Home-Hero-Image.jpg) no-repeat -200px / auto 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right {
	height: 100%;
	width: 883px;
	float: right;
}
.top-menu {
	height: 95px;
	width: 683px;
}
.intro {
	width: 50%;
	text-align: center;
	font-size: 38px;
	font-family: $font-base;
}

/*
.App {
	text-align: center;
	height: 40vh;
	color: $brown;
	font-size: 3rem;
	//font-family: Arial, Helvetica, sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
