@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/reset';
* {
	border: 1px solid red;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-base;
}

.login {
	width: 158px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login button,
.login .link-to {
	background-color: #efefef;
	font-size: 13px;
	height: 100%;
	font-family: $font-base;
	padding: 5px;
	/*cursor: pointer;*/
}

.login button:hover,
.login .link-to:hover {
	background-color: gray;
	color: white;
	border: 1px solid #fad648;
}

.menu {
	display: flex;
	align-items: flex-start;
}
.menu ul {
	height: 42px;
	max-width: 100%;
	display: flex;
	list-style: none;
}

.link-to {
	padding: 5px;
	text-decoration: none;
	color: $darkgray;
	display: block;
}

.footer-contact-left {
	width: 65%;
	height: 90%;
	background: url(../assets/Background-Contact-Form.jpg) no-repeat left/cover;
	filter: brightness(150%) opacity(30%);
}

.footer-contact {
	margin-left: 0;
	width: 95vw;
	height: 100vh;
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.form1 {
	height: 40%;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
}
.form1 p {
	font-size: 24px;
	height: 15%;
}
.form1 .decoration {
	margin: 0;
}

label {
	font-size: 10px;
	display: block;
	margin: 0;
}
input {
	display: block;
	width: 100%;
}
textarea {
	display: block;
	width: 100%;
}

.label-center {
	display: flex;
	margin-top: 20px;
}
.footer {
	height: 50px;
	width: 95vw;
	display: flex;
}
.footer-article {
	height: 100%;
	width: 33.3%;
	text-align: center;
	line-height: 50px;
}

.footer-article:last-child {
	height: 100%;
	width: 33.3%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.facebook {
	height: 25px;
	width: 25px;
	background: url(../assets/Facebook.svg) no-repeat center/cover;
	margin: 20px 0;
}
.instagram {
	height: 25px;
	width: 25px;
	background: url(../assets/Instagram.svg) no-repeat center/cover;
	margin-left: 10px;
}

.home {
	width: 100%;
}

.home-header {
	margin-left: 0;
	width: 95vw;
	height: 100vh;
	display: flex;
}

.hero-image {
	height: 100%;
	width: 50%;
	background: url(../assets/Home-Hero-Image.jpg) no-repeat center/cover;
}
.right {
	display: flex;
	flex-direction: column;
}

.top-menu {
	height: 15%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.intro {
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-family: $font-base;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.decoration {
	height: 20px;
	width: 150px;
	background: url(../assets/Decoration.svg) no-repeat center/cover;
	margin: 20px 0;
}

.rectangle {
	border: 0.75px solid rgba(60, 60, 60, 1);
	width: 150px;
	height: 100px;
	font-size: 24px;
	display: inline-block;
	text-align: center;
	margin: 50px 10px;
}

.home-three-columns {
	width: 100%;

	background-color: $orange;
	display: flex;
}

.column {
	padding: 30px;
	width: 33.3%;
	height: 100%;
	text-align: center;
}
.column h4,
p {
	padding: 10px;
}

.display {
	font-size: 38px;
}
.simple-steps {
	padding-top: 20px;
	width: 100%;
	height: 70vh;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.background {
	width: 100%;
	height: 50%;
	background-color: rgba(240, 241, 241, 1);
	display: flex;
	justify-content: center;
}
.icon1 {
	height: 50px;
	width: 50px;
	background: url(../assets/Icon-1.svg) no-repeat center/cover;
	margin: 20px 0;
}
.icon2 {
	height: 50px;
	width: 50px;
	background: url(../assets/Icon-2.svg) no-repeat center/cover;
	margin: 20px 0;
}
.icon3 {
	height: 50px;
	width: 50px;
	background: url(../assets/Icon-3.svg) no-repeat center/cover;
	margin: 20px 0;
}
.icon4 {
	height: 50px;
	width: 50px;
	background: url(../assets/Icon-4.svg) no-repeat center/cover;
	margin: 20px 0;
}
.article {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 12px;
}
.about-us {
	height: 100vh;
	width: 100%;
	display: flex;
}
.about-us-text {
	height: 100%;
	width: 50%;
	background-color: rgba(240, 241, 241, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.about-us-people {
	height: 100%;
	width: 50%;
	background: url(../assets/People.jpg) no-repeat center/cover;
}
.about-us-text p ~ p {
	font-size: 18px;
	padding: 0 15%;
	text-align: center;
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0 12%;
}
.signature {
	height: 100px;
	width: 200px;
	background: url(../assets/Signature.svg) no-repeat center/contain;
	margin: 30px 0;
}

.login-container {
	display: flex;
	justify-content: space-between;
}
